export(gt_to_distiller)
export(register_distiller)
export(distiller_table)
export(col)
export(gloss)
export(acr)
export(cap)
export(install_quarto_extension)
S3method(knit_print, gt_tbl)
importFrom(knitr, knit_print, asis_output)
importFrom(utils, write.csv)
